@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
  .app-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .edge-to-edge-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin-top: calc(-1 * env(safe-area-inset-top, 0px));
    margin-bottom: calc(-1 * env(safe-area-inset-bottom, 0px));
    margin-left: calc(-1 * env(safe-area-inset-left, 0px));
    margin-right: calc(-1 * env(safe-area-inset-right, 0px));
  }
}

body {
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .rgb-border-wrapper {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    padding: 3px; /* Thickness of the border */
    overflow: hidden;
  }

  .rgb-border-wrapper::before {
    content: "";
    position: absolute;
    inset: -50%;
    background: conic-gradient(
      from 0deg,
      #ff0000,
      #ff7f00,
      #ffff00,
      #00ff00,
      #0000ff,
      #4b0082,
      #9400d3,
      #ff0000
    );
    animation: spin 3s linear infinite;
    z-index: 0;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .rgb-content {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
  }
}
